body{
  font-size: 14px;
}

ul {

  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;

}
li {
  margin-top: 10px;
  float: right;

}


li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

a {
  display: block;
  padding: 8px;
  background-color: white;
}
#br{
  background-color: white;
  width: 100%;
  height: 10px;
}
.caja2 img{
width: 100%;
height: 400px;
}
#title_LA{
  margin-left: 30%;
}
#style_hr{
  width: 40px;
  color: rgb(0, 0, 0);
}
p{
  text-align: center;
}
.bx-1,.bx-2,.bx-3{
  width: 100%;
  height: 350px;
  border: 1px solid black;
}
.bx-1 img{
  width: 100%;
  height: 200px;
}
.bx-2 img{
  width: 100%;
  height: 200px;
}
.bx-3 img{
  width: 100%;
  height: 200px;
}
  #titleA{
    margin-left: 43%;

}
.caja4 img{
width: 100%;
height: 400px;
}
.caja5{
  width: 100%;
  height: 250px;
  background-color: rgba(131, 125, 125, 0.74);
}
.caja5 h1{
  margin-left: 30%;
}
.caja5 h2{
  margin-left: 26%;
}
.caja5 input{
  width: 300px;
  margin-left: 15%;
}
.caja5 button{
  width: 310px;
  margin-left: 15%;
}
.caja6 i{
  border-radius: 50%;
}
