body{
  font-size: 14px;
  font-family: 'Open Sans Condensed', sans-serif;
}

ul {

  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;

}
li {
  margin-top: 10px;
  float: right;

}


li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

a {
  display: block;
  padding: 8px;
  background-color: white;
}
/*FIN MENU*/

#br{
  background-color: white;
  width: 100%;
  height: 10px;
}
/*  ------------*/

.caja2 img{
width: 100%;
height: 400px;
}

#title_LA{
  margin-left: 37%;
}
#style_hr{
  width: 40px;
  color: rgb(0, 0, 0);
}
p{
  text-align: center;
}
.bx-1,.bx-2,.bx-3{
  width: 100%;
  height: 350px;
  border: 1px solid black;
}
.bx-1 img{
  width: 100%;
  height: 200px;
}
.bx-2 img{
  width: 100%;
  height: 200px;
}
.bx-3 img{
  width: 100%;
  height: 200px;
}
  #titleA{
    margin-left: 45%;

}
.caja4 img{
width: 100%;
height: 400px;
}
.caja5{
  width: 100%;
  height: 250px;
  background-color: #e1e6e0;
}
.caja5 h1{
  margin-left: 38%;
}
.caja5 h2{
  margin-left: 30%;
}
.caja5 input{
  width: 300px;
  height: 25px;
  margin-left: 15%;
}
.caja5 button{
  width: 310px;
  height: 30px;
  background-color: transparent;
  border:2px solid black;
  margin-left: 15%;
}
#caja6 h3{
  text-align: center;
}
#caja6 i{
  border-radius: 50%;
  margin-left: 0px;
}
.caja_personal{
    margin-top: 50px;
    padding: 28px;
    box-shadow: 3px 3px 10px gray;
    border-radius: 5px;
}
.contacto{
    display: flex;
    align-items: center;
}
.contacto img{
    height: 100px;
    border-radius: 50px;
    margin-right: 16px;
}
.info{
    display: flex;
    flex-direction: column;
}
.info p{
    font-weight: bold;
}
.cargo{
    color: gray;
    font-weight: 400;
    font-size: 12px;
}
@media screen and (min-width:520px){
}


@media screen and (min-width:720px){
  #title_LA{
    margin-left: 45%;
  }
.caja3{
  width: 100%;
  margin-left: -70px;
  display:flex;
}
.bx-1,.bx-2,.bx-3{
  width: 300px;
  height: 700px;
  border: 1px solid black;
}
.bx-1 img{
  width: 300px;
  height: 400px;
}
.bx-2 img{
  width: 300px;
  height: 400px;
}
.bx-3 img{
  width: 300px;
  height: 400px;
}
.caja4{
  width: 100%;
display: flex;
}

.caja4 img{
width: 35%;
margin-left: 75px;
height: 400px;
}
.caja4 #style_hr{
  position: absolute;
  margin-left: 860px;
  margin-top: 50px;

}
.caja4 h2{
  position: absolute;
  left: 260px;

}
.caja4 p{
  position: absolute;
  width: 30%;
  margin-top: 60px;
  left: 700px;
}
.caja5 h1{
  margin-left: 50%;
}
.caja5 h2{
  margin-left: 47%;
}
.caja5 input{
  margin-left: 42%;
}
.caja5 button{

  margin-left: 42%;

}
#caja6 {
  margin-left: 6%;
}
#caja6 ul{
  float: left;
}


}
